body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/GD1.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
}

html {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
}

.closeButton {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.signMessage {
  display: flex;
  justify-content: center;
  color: black;
  /* text-decoration: none; */
}

.signUP {
  color: black;
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;

  font-weight: bold;
  cursor: pointer;
}

.signupFORM {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  align-items: flex-start;
  align-content: center;
}

.signupFORM input {
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  left: 203.9691162109375px;
  top: 259.1074981689453px;
  border-radius: 0px;
}

.signContainerL {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 350px;
  margin-top: 133px;
}

.signContainerS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 350px;
  margin-top: 133px;
}

#PasswordReq {
  display: flex;
  flex-direction: column;
  opacity: 50%;
  font-size: small;
  align-items: center;
  opacity: 50%;
  font-size: small;
}

#loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#loginForm input {
  background-color: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  left: 203.9691162109375px;
  top: 259.1074981689453px;
  border-radius: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

#menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-right: 100px;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}

nav li {
  /* font-weight: bold; */
}

nav p {
  margin-left: 25px;
}

.logo {
  margin-left: 45px;
  font-size: xx-large;
  font-weight: bold;
}

#menuList a {
  font-size: large;
}

#login-bckg {
  display: flex;
  justify-content: flex-start;
  margin-left: 250px;
  margin-top: 250px;
}

.signinPage {
  display: flex;
  flex-direction: column;
}

.signInL {
  color: black;
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  color: black;
  opacity: 50%;
}

#sisiL {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 85px;
  margin-top: 300px;
}

#sisiS {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 85px;
}

#map {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  /* width: 50%; */
}

.resultsPage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#resultsContainer {
  width: 70%;
  height: 39%;
  border: 1px solid black;
}

#searchbox {
  padding: 20px;
  border: black;
  /* width: 62%; */
  background: #f1f1f1;
  opacity: 55%;
  height: 86.66667938232422px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search {
  width: 90%;
  background: #f1f1f1;
  opacity: 95%;
  border: none;
  height: 25px;
  /*   
  background: #f1f1f1;
  opacity: 95%;
  border: none; */
  margin-left: 200px;
}

#urLocation {
  margin-left: 200px;
}

#resultsbox {
  height: 75vh;
  width: 51.75vw;
  left: 0px;
  top: 201.6666259765625px;
  background: #f1f1f1;
  opacity: 55%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.signupFORM h5 {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: -45px; */
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
}

.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#resultscard {
  height: 330.25140380859375px;
  width: 586.5px;
  border-radius: 15px;
  background: #ffffff;
  margin-top: 18px;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(122, 34, 238);
  box-shadow: 0px 4px 4px rgb(54, 54, 54);
  z-index: 2;
}

.resultinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  line-height: 30px;
  z-index: 3;
}

.resulttitle {
  font-size: x-large;
  font-weight: bold;
}

.testtype {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  margin-top: 4px;
  border-radius: 10px;
  height: 100px;
  align-items: center;
  font-weight: bold;
}

.sitecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}

.sitename {
  font-weight: bold;
  font-size: x-large;
}

.testbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.testcard {
  height: 478.99999606608617px;
  width: 833.9999773502204px;
  left: nullpx;
  top: nullpx;
  border-radius: 5px;

  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.testtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.testcontent {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #000000;

  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
.homepageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
} */

/*--MAP------------
/* 
height: 89vh;
width: 115%;
position: relative;
overflow: hidden;  */

/* 
height: 100%;
width: 83%;
position: absolute;
top: 0px;
left: 0px;
background-color: rgb(229, 227, 223); */

/* display: flex;
justify-content: flex-end;
align-content: flex-end;
margin-right: 85px;
margin-top: 23px;
} */
