body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/GD1.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
}

html {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
}

.closeButton {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.signMessage {
  display: flex;
  justify-content: center;
  color: black;
  /* text-decoration: none; */
}

.signUP {
  color: black;
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;

  font-weight: bold;
  cursor: pointer;
}

.signupFORM {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  align-items: flex-start;
  align-content: center;
}

.signupFORM input {
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  left: 203.9691162109375px;
  top: 259.1074981689453px;
  border-radius: 0px;
}

.signContainerL {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 350px;
  margin-top: 133px;
}

.signContainerS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 350px;
  margin-top: 133px;
}

#PasswordReq {
  display: flex;
  flex-direction: column;
  opacity: 50%;
  font-size: small;
  align-items: center;
  opacity: 50%;
  font-size: small;
}

#loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#loginForm input {
  background-color: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  left: 203.9691162109375px;
  top: 259.1074981689453px;
  border-radius: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

#menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-right: 100px;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}

nav li {
  /* font-weight: bold; */
}

nav p {
  margin-left: 25px;
}

.logo {
  margin-left: 45px;
  font-size: xx-large;
  font-weight: bold;
}

#menuList a {
  font-size: large;
}

#login-bckg {
  display: flex;
  justify-content: flex-start;
  margin-left: 250px;
  margin-top: 250px;
}

.signinPage {
  display: flex;
  flex-direction: column;
}

.signInL {
  color: black;
  background: #ffffff;
  opacity: 65%;
  border-radius: 5px;
  border: 0;
  height: 30.71526336669922px;
  width: 357.402099609375px;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  color: black;
  opacity: 50%;
}

#sisiL {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 85px;
  margin-top: 300px;
}

#sisiS {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 85px;
}

#map {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  /* width: 50%; */
}

.resultsPage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#resultsContainer {
  width: 70%;
  height: 39%;
}

#searchbox {
  padding: 20px;
  border: black;
  /* width: 62%; */
  background: #f1f1f1;
  opacity: 55%;
  height: 86.66667938232422px;
  border-radius: 0px;
}

#search {
  width: 90%;
  background: #f1f1f1;
  opacity: 95%;
  border: none;
  height: 25px;
  /*   
  background: #f1f1f1;
  opacity: 95%;
  border: none; */
}

.signupFORM h5 {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: -45px; */
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
}

.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* 
.homepageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
} */

/*--MAP------------
/* 
height: 89vh;
width: 115%;
position: relative;
overflow: hidden;  */

/* 
height: 100%;
width: 83%;
position: absolute;
top: 0px;
left: 0px;
background-color: rgb(229, 227, 223); */

/* display: flex;
justify-content: flex-end;
align-content: flex-end;
margin-right: 85px;
margin-top: 23px;
} */
