#reviewbox {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 100vh;
  background-color: #0000009c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.reviewcontainer {
  position: relative;
  padding: 32px;
  width: 25%;
  max-width: 640px;
  background-color: #f1f1f1;
}

.reviewcontainer .rclose-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

#prating {
  width: 100%;
  border: none;
}

#pcomment {
  height: 100px;
  width: 100%;
  border: none;
}

#pbutton {
  background-color: white;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#pbutton:hover {
  background-color: #ebebeb;
}

.rclose-button {
  border: none;
  cursor: pointer;
}

.pform {
}
